@model Entities.ChangePasswordModel

<div class="k-edit-form-container" id="resetform">
    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @id = "formChangePassword" }))
    {
    @Html.HiddenFor(m=>m.CurrentUserId)
    @Html.HiddenFor(m=>m.RealPassword)
    <div class="editor-label">
        @Html.LabelFor(m => m.OldPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.OldPassword, new { @class = "k-textbox"})
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.NewPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m=>m.NewPassword, new { @class = "k-textbox" })
        @*@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "error" })*@
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.ConfirmPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox" })
        @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })*@
    </div>

    <div class="k-edit-buttons k-state-default">

        <input type="button" id="btnChange" class="k-button k-button-icontext k-primary" value="Change Password" onclick="return PassSave();">
        <input type="button" class="k-button k-button-icontext" value="Cancel" onclick="ClosePopup()">
    </div>
    }
</div>

<script>

    
    function PassSave() {

        debugger
        var validator = $("#formChangePassword").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            $('#Reassign_old').remove();
            $('#Reassign_new').remove();
            $('#Reassign_confirm').remove();

            var kendowindow = $("#ChangePassword").data("kendoWindow");

            var oldpwd = $('#OldPassword').val();
            var newpwd = $('#NewPassword').val();
            var confpwd = $('#ConfirmPassword').val();
            var Realpwd = $('#RealPassword').val();

            var isvalid = 1;

            if (oldpwd != Realpwd) {
                $('#OldPassword').after('<span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"  data-for="ReAssignToId" data-valmsg-for="ReAssignToId" id="Reassign_old" role="alert"><span class="k-icon k-warning"></span> Password should not be match</span>');
                isvalid = 0;
            }

            if (newpwd != confpwd) {
                $('#ConfirmPassword').after('<span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="ReAssignToId" data-valmsg-for="ReAssignToId" id="Reassign_confirm" role="alert"><span class="k-icon k-warning"></span>New and Confirm Shouldbe Same</span>');
                isvalid = 0;
            }

            if (isvalid === 1) {
                var url = '@Url.Action("ChangePassword", "Home")';
                var paramValue = $('#formChangePassword').serialize();
                callwebservice(url, paramValue, saveCompleted, false, datatypeEnum.json, typeEnum.post);
                return true;

            }
            else {
                return false;
            }

        }
        else {
            return false;
        }
    }
    function ClosePopup() {
        closeKendoWindow("ChangePassword");
    }
    function saveCompleted(returString) {
        
        debugger
        if (returString.id ==2) {
            ClosePopup();
          
            ShowErrorMessage("Old Password Is Wrong!!!");
        }
        else if (returString.id == 1) {
            ClosePopup();
          
            ShowSuccessMessage("Password Changed SucessFully!!!");

        }
        else if (returString.id == 3) {
            ClosePopup();

            ShowErrorMessage("New Password And Confirm Password Are Not MAtch!!!!");

        }
        else {
            ClosePopup();
            ShowErrorMessage("Something Went Wrong Please Try Agin !!!");
        }

    }

</script>