@model Entities.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login -AgroApp</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

    @*@Styles.Render("~/Content/ui")*@
    <link href="~/Content/css/icomoon.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/components.css" rel="stylesheet" />
    <link href="~/Content/css/core.css" rel="stylesheet" />

    <link href="~/Content/css/colors.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    @*@Scripts.Render("~/Scripts/JQueryScripts")*@
    <script src="~/Content/js/core/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <style>
        .field-validation-error {
            color: red !important;
        }

        .btn-info, .btn-info.focus, .btn-info:focus, .btn-info:hover {
            background-color: #262262 !important;
        }
    </style>
</head>
<body class="login-container">

    <!-- Main navbar -->
    <div class="navbar  ">
        @*<div class="navbar-header">

                <a class="navbar-brand" href="@Url.Action("Index", "Login")"><img src="@Url.Content("~/Logo.png")" alt=""></a>

                <ul class="nav navbar-nav pull-right visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar-mobile">

            </div>*@
    </div>
    <!-- /main navbar -->
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">

                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @autocomplete = "off", @role = "form" }))
                {
                    @Html.HiddenFor(m => m.RememberMe)
                    <div class="panel panel-body login-form">
                        <div class="text-center">

                            <div class="icon-object border-slate-300 text-slate-300"><img src="@Url.Content("~/Content/images/Loginlogo.png")" style="height: 100px;" alt="">@*<i class="icon-reading"></i>*@</div>
                            <h5 class="content-group-lg">Login to your account <small class="display-block">Enter your credentials</small></h5>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "required", placeholder = "User name" })
                            @Html.ValidationMessageFor(m => m.UserName)
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @required = "required", placeholder = "Password", @type = "password" })
                            @Html.ValidationMessageFor(m => m.Password)
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group login-options">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="styled" checked="checked" id="rememberMe" onclick="RememberMeChk();">
                                        Remember
                                    </label>
                                </div>

                                <div class="col-sm-6 text-right">
                                    <a href="@Url.Action("ForgotPassword", "Login")">Forgot password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                        @if (TempData["Message"] != null)
                        {
                            <div>
                                @TempData["Message"].ToString()
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
  
    <script src="~/Scripts/uniform.min.js"></script>
    @*@Scripts.Render("~/Scripts/LoginJQuery")*@
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        var rememberMe = $('#rememberMe').is(":checked");
        $("#RememberMe").val(rememberMe);

        // Style checkboxes and radios
        $('.styled').uniform();
    });

    function RememberMeChk() {
        var rememberMe = $('#rememberMe').is(":checked");
        $("#RememberMe").val(rememberMe);
    }
</script>
