@using Kendo.Mvc.UI

@using Common;
@model Entities.StateMasterModel.State

@{
    Layout = null;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "StateForm" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m=>m.StateId)
    <div class="k-edit-form-container">

        <div class="row">
            @Html.LabelFor(model => model.StateName, htmlAttributes: new { @class = "editor-label" })
            <div class="editor-field">
                @(Html.Kendo().TextBoxFor(m => m.StateName))
                @Html.ValidationMessageFor(model => model.StateName, "", new { @class = "text-danger" })

            </div>

            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "editor-label" })
            <div class="editor-field">
                @(Html.Kendo().CheckBoxFor(m => m.IsActive))
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
            <div class="k-edit-buttons">

                <input type="button" value="SAVE" class="k-button k-button-icontext k-primary" onclick="return StateSave();" />
                <input type="button" value="CANCEL" class="k-button k-button-icontext" onclick="ClosePopup();" />
            </div>
        </div>
    </div>
}

<script>

      function StateSave() {
            debugger
          var validator = $('#StateForm').kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            var url = '@Url.Action("StateSave", "StateMaster")';
            var paramValue = $('#StateForm').serialize();
            callwebservice(url, paramValue, saveCompleted, false, datatypeEnum.json, typeEnum.post);
            return true;
        }
        return false;
    }
    function ClosePopup() {
        closeKendoWindow("State");
    }
    function saveCompleted(returString) {
        
        debugger
        if (returString.id ==1) {
            ClosePopup();
            $('#gridState').data('kendoGrid').dataSource.read();
            ShowSuccessMessage("State Saved SucessFully!!!");
        }
        else if (returString.id == 2) {
            ClosePopup();
            $('#gridState').data('kendoGrid').dataSource.read();
            ShowSuccessMessage("State Updated SucessFully!!!");

        }
        else {
            ClosePopup();
            ShowErrorMessage("StateName Already Exist !!!");
        }

    }
</script>
